<!-- record summary -->
<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <div class="filter d-block mb-5">

        <div class="btn-group col-5 d-inline-block">
          <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{#if filterMonth}}
            {{{filterMonth}}} 月份
            {{else}}
            請選擇月份
            {{/if}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/?filterMonth=&?filterCategory={{filterCategory}}">不按月份</a>
            {{#each monthList}}
            <a class="dropdown-item"
              href="/?filterMonth={{this.number}}&?filterCategory={{filterCategory}}">{{this.name}}</a>
            {{/each}}
          </div>
        </div>

        <div class="btn-group col-5 d-inline-block">
          <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{#if filterCategory}}
            {{{filterCategory}}} 類別
            {{else}}
            請選擇類別
            {{/if}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/?filterCategory=&?filterMonth={{filterMonth}}">不按類別</a>
            {{#each categoryList}}
            <a class="dropdown-item" href="/?filterCategory={{this.name_en}}&?filterMonth={{filterMonth}}">
              {{this.name}}
            </a>
            {{/each}}
          </div>
        </div>

      </div>

      <div class="totalAmount col-10 mx-auto d-block mb-3">
        <h4 class="text-left">總金額：</h4>
        <h1 class="text-right">$ {{totalAmount}}</h1>
      </div>

      <div class="records list-group col-10 m-auto d-block mb-3">
        {{#each records}}
        <div class="list-group-item list-group-item-dark mb-3">
          <div class="row">
            <div class="d-inline-block col-1">
              <i class="fas fa-{{this.category}} text-info" style="font-size: 40px; line-height:60px;"></i>
            </div>
            <div class="d-inline-block col-5">
              <h4>{{this.name}}</h4>
              <span>{{this.date}}</span>
            </div>
            <div class=" d-inline-block col-1 my-auto mr-5">
              <span style="font-size: 20px; line-height:60px;">{{this.amount}}</span>
            </div>

            <div class="d-inline-block col-3 my-auto ml-5">
              <a class="btn btn-primary" href="/records/{{this._id}}/edit">編輯</a>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger ml-3" data-toggle="modal"
                data-target="#trigger-deleteItem-{{this._id}}">刪除</button>
            </div>
          </div>
        </div>

        <!-- Modal 優化使用者體驗，刪除支出-->
        <div class="modal fade" id="trigger-deleteItem-{{this._id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-primary">刪除警示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <big class="font-weight-bold">請問您確定要刪除資料嗎?</big>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <form action="/records/{{this._id}}/delete?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger mt-3">刪除</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}

        <div class="totalAmount col-10 mx-auto d-block mb-3">
          <a class="btn btn-success mt-5" href="/records/new">新增資料</a>
        </div>
      </div>
    </div>
  </div>
</div>